<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Super Rentals!</h2>
  <p>
      <LinkTo @route="about" class="btn btn-primary ">About US</LinkTo>
      We hope you find exactly what you're looking for in a place to stay.</p>
      {{sum (multiply 10 4 ) 7 8 1 2 3}}

      {{ input value="moverr.com" }}

      {{log 'Name is mv'}}

       
</div>